@use 'sass:math';
@use 'sass:map';

$breakpoints: (
  'small': math.div(375, 16) * 1rem,
  'medium': math.div(680, 16) * 1rem,
  'large': math.div(1200, 16) * 1rem,
);

@mixin breakpoint($size) {
  @media (width >= map.get($breakpoints, $size)) {
    @content;
  }
}

@mixin text-heading-xl {
  font-family: "Inter";
  font-weight: 800;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0rem;
  transition:
    font-size 0.3s ease-out,
    line-height 0.3s ease-out;

  @include breakpoint("large") {
    font-size: 5.6rem;
    line-height: 5.6rem;
  }
}

@mixin text-heading-l {
  font-family: "Inter";
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0rem;
}

@mixin text-heading-m {
  font-family: "Inter";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  letter-spacing: 0rem;
}

@mixin text-heading-s {
  font-family: "Inter";
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0rem;
}

@mixin text-heading-xs {
  font-family: "Inter";
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0rem;
}

@mixin text-body {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.6rem;
  letter-spacing: 0rem;
}

@mixin text-button {
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 2.4rem;
  letter-spacing: 0.438rem;
}

@mixin text-link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  transition:
    font-size 0.3s ease-out,
    line-height 0.3s ease-out;

  @include breakpoint("medium") {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }
}
